.header{
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 5px 5px;
    background-color: rgb(48,4,2)
}

.navbar a{
    font-family: georgia;
    font-size: 15px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
}